@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    color: white;
}

.title {
    padding: 18px 20%;
    font-size: 26px;
}

.title h2 {
    display: inline;
    transition: 0.2s;
}

.title h2:hover {
    color: rgba(255, 255, 255, 0.8);
}

body {
    background-color: #2d2933;
    font-family: 'Comfortaa', cursive;
}

header {
    width: 100%;
    height: 80px;
    background-color: #19171d;
    position: sticky;
    top: 0;
    /* border-bottom: 3px solid #130913; */
    box-shadow: 0px 0px 20px 0px #000;
}

.description {
    max-width: 800px;
    height: 180px;
    font-family: inherit;
    text-align: center;
    margin: 30px auto;
    text-shadow: 1px 1px 3px #000;
}

.hello {
    padding-top: 40px;
    font-size: 30px;
}

.imgay {
    padding-top: 10px;
    font-size: 21px;
}

.content {
    max-width: 1470px;
    height: 1900px;
    /* background-color: rgba(255, 255, 255, 0.15); */
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.block {
    width: 450px;
    height: 430px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: #453f4d;
    border-radius: 30px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.skinname {
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
    color: rgb(218, 209, 230);
}

.preview {
    width: 450px;
    margin-top: 20px;
    border-top: 2px solid #5f5969;
    border-bottom: 2px solid #5f5969;
}

.download {
    padding-top: 32px;
}

.butt {
    background-color: #453f4d;
    border: 2px solid rgb(218, 209, 230);
    color: rgb(218, 209, 230);
    width: 350px;
    height: 60px;
    font-family: inherit;
    border-radius: 10px;
    font-size: 22px;
    margin: 0 48px;
    padding: 16px 120px;
    transition: 0.3s;
}

.butt:hover {
    background-color: rgb(218, 209, 230);
    color: #453f4d;
    cursor: pointer;
}

.made {
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    margin: 20px auto;
}

.made a {
    color: rgba(255, 255, 255, 0.9);
    transition: 0.2s;
}

.made a:hover {
    color: rgb(218, 209, 230);
}